*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", serif;
    background-color: rgb(224, 223, 223);
}
.header{
    background-color: rgb(32, 29, 29);
    color: white;
    text-align: center;
    padding: 8px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (width < 576px){
    .header{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
}
h1{
    padding-bottom: 5px;
}
ul{
    display:flex;
    justify-content: center;
    padding-bottom: 5px;
    margin-right: 10%;
    font-size: 1rem;
    font-weight: 600;
    gap: 12px;
    cursor:pointer;
}
li{
    color: #cccc;
    list-style: none;
    transition: all .3s ease;
}
li:hover{
    color:yellow;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 0 20px;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}
.card{
    border-radius: 5px;
    width:200px;
    height: 260px;
    border: 1px solid #aaa;
    transition: all .4s;
    overflow: hidden;
}
@media screen and (width >= 1130px){
    .container{
       width: 50em;
    }
}
.card:hover{
    cursor: pointer;
}
img{
    width: 100%;
    height:63%;
    transition: .5s ease;
}
.card:hover img{
    transform: scale(1.05); 
}
.card-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-caption h3{
    color: red;
}
.card-caption p{
    font-weight: 600;
}
.card-caption p span{
    color: blue;
}
.card-caption button{
    padding: 6px 30px;
    border-radius: 5px;
    font-weight: 750;
    border: none;
    background-color: red;
    color: white;
    transition: .3s;
} 
.card-caption button:hover{
    background-color:green;
    cursor: pointer;
}
.login{
    text-align: center;
    background-color: #96dd88;
    padding: 10px 0 15px 0; 
    margin: 0 auto 0 auto;
    border-radius: 5px;
    width: 97%;
    color: blue;
}
.login h2{
    color: rgb(32, 29, 29);
}
table,tbody{
    display: block;
    margin: 0 15px;
}
tr{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
td{
    display: inline-block;
    width: 100%;
}
td{
    flex-basis: 100%;
}
label{
    display: block;
    font-weight: 500;
    font-size: .9rem;
    text-align: start;
    margin-left: 23px;
}
input{
    width: 90%;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    background-color: transparent;
}
@media screen and (width >= 576px){
    .login{
        width: 35em;
    }
}
.finish{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #eef3eb;
    border-radius: 3px;
    border: 1px solid #a7a2a2;
    transition: .5s ease;
}
.finish:hover{
    background-color: #57694d;
    cursor: pointer;
    border-radius: 12px;
    color: white;
}
.footer{
    background-color: rgb(32, 29, 29);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    padding: 5px 0;
    gap: 20px;
    font-size: small;
}
.footer div{
    display: flex;
    flex-direction: column;
}
@media screen and (width <= 576px){
    .footer div{
        padding-top: 10px;
    }
}